<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>

    <link
      rel="stylesheet"
      href="{{ url_for('boot-static.static', filename='css/lib/bootstrap.min.css') }}" />

    <link
      rel="stylesheet"
      href="{{ url_for('boot-static.static', filename='css/header.css') }}" />
    {% block style %} {% endblock %}
  </head>
  <body>
    <!-- ============ Header ============ -->
    <header>
      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <!-- ============ Branding ============ -->
          <div class="header-content">
            <div class="logo">
              <a href="/social" title="Bangla Fighter">
                <img
                  src="{{ url_for('boot-static.static', filename='image/logo.png') }}"
                  alt="logo" />
              </a>
            </div>

            <div class="header-search">
              <i class="fa-solid fa-magnifying-glass search-icon"></i>
              <input
                type="text"
                class="form-control"
                placeholder="Search for Friends , Videos and more.."
                autocomplete="off"
                aria-expanded="false" />
            </div>
          </div>
          <!-- ============ Branding End============ -->

          <!-- ============ Right Menu ============ -->
          <ul
            class="nav col-lg-auto my-2 justify-content-end my-md-0 nav-white">
            <li class="menu-center">
              <a href="#" class="nav-link menu-icon" title="Home">
                <i class="fa-solid fa-house"></i>
              </a>
            </li>

            <li class="nav-item navbar-dropdown dropdown-user dropdown">
              <a class="nav-link hide-arrow" data-bs-toggle="dropdown">
                <div class="avatar">
                  <img
                    src="{{ url_for('boot-static.static', filename='image/default-square-img.jpg') }}"
                    alt="profile pic"
                    class="w-px-40 h-auto rounded-circle border" />
                </div>
              </a>
              <ul class="dropdown-menu dropdown-menu-end profile-dropdown">
                <li>
                  <a class="dropdown-item" href="#">
                    <div class="d-flex">
                      <div class="flex-shrink-0 me-3">
                        <div class="avatar">
                          <img
                            src="{{ url_for('boot-static.static', filename='image/default-square-img.jpg') }}"
                            alt="profile pic"
                            class="h-auto rounded-circle border" />
                        </div>
                      </div>
                      <div class="flex-grow-1 operator">
                        <span class="fw-semi-bold d-block"
                          >Omuk Tomuk Folna</span
                        >
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <div class="dropdown-divider"></div>
                </li>
                <li>
                  <a
                    href="/social/profile"
                    class="dropdown-item drop-link"
                    href="#">
                    <span class="p-menu-icon">
                      <i class="fa-solid fa-heart"></i>
                    </span>
                    <span class="align-middle">My Profile</span>
                  </a>
                </li>
                <li>
                  <div class="dropdown-divider"></div>
                </li>
                <li>
                  <a class="dropdown-item drop-link" href="#">
                    <span class="p-menu-icon">
                      <i class="fa-solid fa-right-from-bracket"></i>
                    </span>
                    <span class="align-middle">Log Out</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
          <!-- ============ Right Menu End============ -->
        </div>
      </div>
    </header>
    <!-- ============ Header End ============ -->

    {% block content %}{% endblock %}
    <script src="{{ url_for('boot-static.static', filename='js/lib/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('boot-static.static', filename='js/lib/fontawesome-all.min.js') }}"></script>
  </body>
</html>
